* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a,
span {
  display: block;
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, input:focus, textarea {
  outline: none;
  border: none;
}

.left {
  transform: translateX(60%);
  -webkit-transform: translateX(60%);
  -moz-transform: translateX(60%);
}

.right {
  transform: translateX(-60%);
  -webkit-transform: translateX(-60%);
  -moz-transform: translateX(-60%);
}

.left,
.right {
  opacity: 0;
  transition: 2s ease;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
}

.zoom-in {
  opacity: 0;
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
}

.hidden {
  opacity: 0;
}

section {
  overflow: hidden;
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

.bg-eee {
  background: #eee;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.bg-blue {
  background-color: #0075ff;
}

.bg-orange {
  background-color: #f59e0b;
}

.bg-green {
  background-color: #22c55e;
}

.bg-red {
  background-color: #f44336;
}

.c-blue {
  color: #0075ff;
}

.c-orange {
  color: #f59e0b;
}

.c-green {
  color: #22c55e;
}

.c-red {
  color: #f44336;
}

.c-grey {
  color: #888;
}

.box h6 {
  font-size: 16px;
}

.main-section {
  margin: 20px;
}
.main-section h1::before, .main-section h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.main-section h1::before {
  background: #fff;
  width: 120px;
}
.main-section h1::after {
  background: #000;
  width: 40px;
}
.main-section .parent {
  row-gap: 20px;
}

.button a,
.button button {
  font-size: 15px;
}

.button {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

header .search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: grey;
}
header .search input {
  width: 160px;
  margin-left: 5px;
  padding-left: 30px;
  border-radius: 10px;
  transition: width 0.3s;
  border: 1px solid #ddd;
  font-size: 13px;
  padding: 10px 30px;
}
@media (max-width: 340px) {
  header .search input {
    width: 130px;
  }
}
header .search input:focus {
  width: 200px;
}
@media (max-width: 340px) {
  header .search input:focus {
    width: 150px;
  }
}
header .header-icons .notification {
  cursor: pointer;
  margin-right: 15px;
}
header .header-icons .notification sup {
  width: 10px;
  height: 10px;
  display: block;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -16;
}
@media (max-width: 340px) {
  header .header-icons .notification {
    font-size: 15px;
  }
}
header .header-icons .avatar {
  width: 32px;
}
@media (max-width: 340px) {
  header .header-icons .avatar {
    width: 25px;
  }
}

aside {
  width: 245px;
  box-shadow: 0 0 10px #ddd;
  padding: 1rem;
}
@media (max-width: 767px) {
  aside {
    width: 56px;
    padding: 0.9rem 0;
  }
}
aside h3 {
  font-size: 22px;
  margin-bottom: 50px;
}
aside h3::before, aside h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}
aside h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
aside h3::after {
  bottom: -29px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 4px solid #fff;
}
@media (max-width: 767px) {
  aside h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  aside h3::before, aside h3::after {
    display: none;
  }
}
@media (max-width: 767px) {
  aside ul {
    margin: 0 12px;
  }
}
aside ul li a {
  font-size: 14px;
  padding: 9px;
  font-weight: 500;
  margin-bottom: 5px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
aside ul li a:hover, aside ul li a.active {
  background-color: #f6f6f6;
}
@media (max-width: 767px) {
  aside ul li a span {
    display: none;
  }
}

@media (max-width: 660px) {
  .overview {
    flex-direction: column;
    justify-content: center;
  }
  .overview .avatar-box {
    border: none;
  }
}
@media (max-width: 410px) {
  .overview {
    max-width: 280px;
    margin: auto;
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .overview {
    max-width: 240px;
  }
}
@media (max-width: 320px) {
  .overview {
    max-width: 182px;
  }
}
.overview .avatar-box {
  width: 250px;
  border-right: 1px solid #eee;
  margin: 10px 0;
}
@media (max-width: 660px) {
  .overview .avatar-box {
    border: none;
  }
}
.overview .avatar-box img {
  width: 120px;
  height: 120px;
}
.overview .avatar-box .prog {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 57%;
}
.overview .avatar-box .prog::before {
  content: "";
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #0075ff;
}
.overview .avatar-box .rating i,
.overview .avatar-box p {
  font-size: 13px;
}
.overview .info-box .box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
@media (max-width: 320px) {
  .overview .info-box .box {
    padding: 10px !important;
  }
}
.overview .info-box .box > div {
  min-width: 250px;
}
@media (max-width: 380px) {
  .overview .info-box .box > div {
    font-size: 11px !important;
  }
}
.overview .info-box .box > div span {
  display: inline-block;
}
.overview .info-box .box > div label input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: none;
}
.overview .info-box .box > div label .toggle-switch {
  background-color: #ccc;
  width: 78px !important;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  height: 20px;
}
.overview .info-box .box > div label .toggle-switch::before {
  content: "\f00d";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: #aaa;
  background-color: white;
  font-size: 10px;
}
.overview .info-box .box > div label .toggle-checkbox:checked + .toggle-switch {
  background-color: #0075ff;
}
.overview .info-box .box > div label .toggle-checkbox:checked + .toggle-switch::before {
  left: 59px;
  content: "\f00c";
  color: #0075ff;
  background: #fff;
}

@media (max-width: 991px) {
  .extra-data {
    flex-direction: column;
  }
}
.extra-data .skills {
  flex-grow: 1;
}
.extra-data .skills ul li {
  display: flex;
  padding: 15px 0;
}
.extra-data .skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.extra-data .skills ul li span {
  margin-right: 5px;
  background: #eee;
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 14px;
}
@media (max-width: 320px) {
  .extra-data .skills ul li span {
    padding: 2px 6px;
    font-size: 13px;
  }
}
.extra-data .activities {
  flex-grow: 2;
}
@media (max-width: 767px) {
  .extra-data .activities .activity {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.extra-data .activities .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.extra-data .activities .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .extra-data .activities .activity img {
    margin-bottom: 10px;
  }
}
.extra-data .activities .activity .date {
  margin-left: auto;
}
@media (max-width: 767px) {
  .extra-data .activities .activity .date {
    margin: auto;
    text-align: center !important;
  }
}

@media (max-width: 320px) {
  .overview,
.extra-data .skills {
    padding: 10px !important;
  }
}/*# sourceMappingURL=profile.css.map */